.blog_post_container {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    font-size:24px;

}

.blog_post_container img {
    max-height: 20em;
    object-fit: contain;
    padding: 0.25em;

}

.blog_post_container .blog_post_text {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5em;
    font-weight: normal;
}

.blog_post_container .blog_post_text h3 {
    font-size: 1em;
}

.blog_post_container .blog_post_text p {
    font-size: 0.75em;
    width: 30em;
    max-height: 10em;
}

